<div class="container-fluid navbar navbar-fixed-top header" >
  <div class="container">
    <div class="pull-left logo">
      <a href="#"></a>
    </div>
    <div class="pull-right navbar navbar-brand">
      <div id="menu" class="nav navbar-nav">
        <a href="" class="navbar-link">Home</a>
        <a href="" class="navbar-link">Services</a>
        <a href="" class="navbar-link">Portfolio</a>
        <a href="" class="navbar-link">About</a>
        <a href="" class="navbar-link">News</a>
        <a href="" class="navbar-link">Contact</a>
      </div>
    </div>
  </div>
</div>
