<div id="header" class="container-fluid navbar navbar-fixed-top header">
  <div class="container">
    <div class="pull-left logo">
      <a href="#home " pageScroll>
        <div><img src="../../img/logo.png" alt=""><span>KET</span></div>
      </a>
    </div>
    <div class="pull-right navbar navbar-brand">
      <div id="menu" class="nav navbar-nav">
        <a href="#" class="navbar-link" pageScroll>Home</a>
        <a href="#" class="navbar-link" pageScroll>Services</a>
        <a href="#" class="navbar-link" pageScroll>Portfolio</a>
        <a href="#" class="navbar-link" pageScroll>About</a>
        <a href="#news" class="navbar-link" pageScroll>News</a>
        <a href="#contact" class="navbar-link" pageScroll>Contact</a>
      </div>
    </div>
  </div>
</div>
