<div class="well">
  <div class="container" id="contact">
    <h1 class="text-center">Contact us</h1>
    <div class="line"></div>
    <p class="text-info small">Never mark a pegleg. The wave blows with adventure, command the galley before it
      falls.</p>
    <form (ngSubmit)="register(userForm.value)" [formGroup]="userForm">
      <div class="row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="name" placeholder="enter your message"
                 required minlength="4" maxlength="25" forbiddenName="bob"
                 name="name"
                 formControlName="username">
          <div *ngIf="userForm.get('username').dirty &&
                      userForm.get('username').hasError('required')">Username is required
          </div>
          <div *ngIf="userForm.get('username').dirty &&
                      userForm.get('username').hasError('minlength')">Username should be 3 chars min
          </div>
          <div *ngIf="userForm.get('username').dirty &&
                      userForm.get('username').hasError('maxlenght')">Username should be 25 chars max
          </div>
        </div>
        <div class="form-group col-md-6">
          <input type="email" class="form-control" id="email" placeholder="your@message.com"
                 required
                 formControlName="email"
                 name="email">
          <div *ngIf="userForm.get('email').dirty &&
                      userForm.get('email').hasError('required')">Email is required
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <textarea name="message" id="message" cols="35" rows="3" placeholder="input your message"
                    minlength="20" maxlength="300"
                    formControlName="message"
                    class="form-control"></textarea>
          <div *ngIf="userForm.get('message').dirty &&
                      userForm.get('message').hasError('required')">Message is required
          </div>
          <div *ngIf="userForm.get('message').dirty &&
                      userForm.get('message').hasError('minlength')">Message should be 20 characters min
          </div>
          <div *ngIf="userForm.get('message').dirty &&
                      userForm.get('message').hasError('maxlength')">Message should be 300 characters max
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-default pull-right" [disabled]="!userForm.valid">Submit</button>
    </form>
  </div>
</div>
<span class="text-info" style="font-size: small">{{diagnostic}}</span>

