<div id="news" class="news">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 ">
      <div *ngFor="let item of news | limitTo: 5" class="row">
        <div>
          <div class="col-md-3 text-center">
            <div class="date-day">{{ item.date | date:'dd' }}</div>
            <div class="date-month">{{ item.date | date:'MMM' }}</div>
          </div>
          <div class="col-md-9"> {{ item.description }}
            <span (click)="readMore(item.id)" class="readMore pull-right">Read more >></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

