/* You can add global styles to this file, and also import other style files */

body {
  /*color:  #00E0FF;*/
  margin-top: 70px;
  margin-left: 2px;
  margin-right: 2px;
}

.line {
  width: 170px;
  height: 2px;
  margin: 0 auto;
  background-color: #00E0FF;
  margin-bottom: 15px;
}

.padding-none {
  padding: 0;
}

.mask{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.bordered {
  border: 1px dashed coral;
}
