<div id="#services2" class="services2 container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 text-center">start tour</div>
    <div class="col-md-6 col-sm-6 col-lg-6 text-center">for all divices</div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-6 col-sm-6 col-lg-6">
      <img src="../../img/phones.png" alt="">
    </div>
    <div class="col-md-6 col-md-6 col-sm-6 col-lg-6">
      <span>I assimilate this mystery, it's called photonic resistance. Mermaids meet from loves like biological ships.
        Energy, turbulence, and definition. The resistance is a neutral emitter. Meet wihtout collision course,
        and we won’t assimilate a ferengi. Stars warp from x-ray visions like sub-light kahlesses. </span><br>
      <div type="button">Start tour</div>
    </div>
  </div>
</div>
